
/*.page-title {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.page-title .heading {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

.page-title hr {
  background: white;
  height: 2px;
  width: 10%;
  margin-top: 5px;
}*/

.contact-container {
  position: relative;
  background: url("../assets/cover-3.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.contact-container:after {
  position: absolute;
  top:0%;
  height: 100%;
  width: 100%;
  background: #111111;
  opacity: 0.5;
  content: '';
}

.contact-container .main-row {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.contact-container .left-contact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: White;
}

.contact-container .left-contact .heading {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bolder;
}

.contact-container .left-contact .information {
  font-size: 20px;
  margin-top: 20px;
}

.contact-container .left-contact .information .row {
  margin-top: 20px;
}

.contact-container .left-contact .information .row .col-sm-2 img {
  width: 30px;
}

.contact-container .hl {
  position: absolute;
  width: 3px;
  height: 380px;
  top: 55%;
  transform: translateY(-50%);
  background: white;
}

/*.main-row .col-sm-4, .main-row .col-sm-1, .main-row .col-sm-7 {
  padding: 0;
}*/

.contact-container .inquiry-container {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: rgba(43, 142, 187, 0.8);
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  color: white;
}

.contact-container .inquiry-container .heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-container .inquiry-container .row {
  margin-top: 10px;
}

.contact-container .inquiry-container .checkboxes {
  margin-top: 25px;
}

.contact-container .checkbox-label {
  position: relative;
  display: block;
}

.contact-container .checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contact-container .checkbox-label .checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.contact-container .checkbox-label .checkbox-custom:after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0;
  width: 0;
  border-radius: 5px;
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

.contact-container .checkbox-label input:checked ~ .checkbox-custom {
  background-color: #35e800;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: white;
}

.contact-container .inquiry-container .btn {
  background: #35e800;
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-container .checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.contact-container .checkbox-label .title {
  margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .contact-container .page-title {
    top: 12%;
  }

  .contact-container .page-title .heading {
    font-size: 24px;
  }

  .contact-container .page-title .text {
    width: 100%;
    font-size: 12px;
  }

  .contact-container .main-row, .left-contact, .inquiry-container {
    position: unset;
    transform: translate(0, 0);
  }

  .contact-container .main-row {
    position: relative;
    top: 20%;
    width: 90%;
    transform: translateX(-50%);
  }

  .contact-container .hl {
    display: none;
  }

  .contact-container .left-contact .heading {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
  }

  .contact-container .left-contact .information {
    font-size: 18px;
    margin-top: 20px;
  }

  .contact-container .left-contact .information .row {
    margin-top: 10px;
    width: 90%;
  }

  .contact-container .left-contact .information .row .col-sm-2 {
    width: 30%;
    padding: 0;
    margin-left: -15px;
  }

  .contact-container .left-contact .information .row .col-sm-10 {
    width: 70%;
    padding: 0;
    margin-left: -10px;
  }

  .contact-container .left-contact .information .row .col-sm-2 img {
    width: 25px;
  }

  .contact-container .inquiry-container {
    margin-top: 85%;
    width: 100%;
    overflow-y: scroll;
    height: 50vh;
  }

  .contact-container .inquiry-container .row {
    margin-top: 0;
  }

  .contact-container .inquiry-container .form-control {
    margin-top: 5px;
  }

}

@media (min-width: 668px) and (max-width: 768px) {
  .contact-container .left-contact {
    left: 70%;
  }

  .contact-container .hl {
    display: none;
  }

  .contact-container .inquiry-container {
    left: 15%;
    width: 85%;
  }
}