html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden; !important;
  scroll-behavior: smooth;
}


.navbar {
  position: fixed;
  top: 0;
}

.side-dots {
  position: fixed;
  height: 100px;
  width: 40px;
  right: 2%;
  top: 50%;
  opacity: 0.8;
  z-index: 4;
}

.side-dots .dot {
  margin-top: 13px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.side-dots .dot:hover {
  background: white;
}
.side-dots .active {
  background: white;
}

.home-container, .why-us-container{
  position: relative;
  background-image: url("../assets/cover-1.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.home-container:after, .why-us-container:after {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  background: #111111;
  opacity: 0.5;
  content: '';
}

.home-container .main-row {
  position: relative;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.brand-title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
}

.cover-text {
  font-size: 48px;
  color: white;
  font-family: 'oswald', sans-serif;
  width: 500px;
  text-align: left;
}

.vd {
  position: absolute;
  height: 250px;
  width: 10px;
  background: white;
  left: 72%;
  top: 51%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

.contact-side {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-side img {
  text-align: center;
  height: 100px;
}

.contact-side .text {
  font-size: 36px;
  margin-top: 20px;
  color: white;
  font-family: 'oswald', sans-serif;
}

/*WHY US SECTION STYLES*/

.why-us-container {
  background: url("../assets/cover-5.jpg");
  background-size: cover;
}

.why-us-container .main-row {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.why-us-container .main-row .card{
  z-index: 1;
  color: white;
  background-color: #2B8EBB;
  opacity: 0.8;
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -4px 4px 4px #444444;
}

.why-us-container .main-row .card .heading {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.why-us-container .main-row .card .image img {
  height: 100px;
  margin-top: 10px;
}
.why-us-container .main-row .card .text {
  text-align: justify;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 540px) {
  .why-us-container {
    height: auto;
  }

  .why-us-container .page-title {
    position: absolute;
    top: 7%;
  }

  .why-us-container .main-row {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 130px;
    transform: translate(0,0);
    margin: 0;
    padding-bottom: 20px;
  }

  .why-us-container .main-row .col-sm-3 {
    margin-top: 10px;
  }
  .why-us-container .main-row .card {
    height: 230px;
  }

  .why-us-container .main-row .card .heading {
    font-size: 16px;
  }
  .why-us-container .main-row .card .image img{
    height: 50px;
  }
  .why-us-container .main-row .card .text {
    font-size: 14px;
  }

}

@media (min-width: 768px) and (max-width: 968px) {
  .why-us-container .main-row {
    width: 100%;
  }

  .why-us-container .main-row .card {
    width: 185px;
    height: 400px;
  }
}

@media (min-width: 968px) and (max-width: 1024px) {
  .why-us-container .main-row {
    width: 100%;
  }

  .why-us-container .main-row .card {
    width: 240px;
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  body {
    overflow-x: hidden; !important;
  }
  .home-container .main-row {
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .brand-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
  }
  .cover-text {
    position: absolute;
    font-size: 28px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .vd {
    display: none;
  }
  .contact-side {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-side img {
    height: 80px;
  }
  .contact-side .text {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 840px) {
  body {
    overflow-x: hidden; !important;
  }
  .main-row {
    height: 50%;
  }

  .brand-title {
    width: 180px;
  }
  .cover-text {
    font-size: 24px;
    width: 250px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .vd {
    display: none;
  }
  .contact-side {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-side img {
    height: 80px;
  }
  .contact-side .text {
    font-size: 20px;
  }
}

@media (min-width: 840px) and (max-width: 1145px) {
  body {
    overflow-x: hidden; !important;
  }
  .main-row {
    height: 50%;
  }

  .brand-title {
    width: 250px;
  }
  .cover-text {
    font-size: 36px;
    width: 300px;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-side {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact-side img {
    height: 120px;
  }
  .vd {
    left: 70%;
  }
  .contact-side .text {
    font-size: 28px;
  }
}